.elementor-1669
  .elementor-element.elementor-element-9f4b08f
  > .elementor-container {
  min-height: 506px;
}
.elementor-1669
  .elementor-element.elementor-element-9f4b08f:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-9f4b08f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2019/01/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669
  .elementor-element.elementor-element-9f4b08f
  > .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669 .elementor-element.elementor-element-9f4b08f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 150px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-86387b3
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-3ddf704
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-3ddf704
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-5a7affc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 50px;
}
.elementor-1669 .elementor-element.elementor-element-561e166 {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-561e166
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 75px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-1669
  .elementor-element.elementor-element-561e166
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-1669 .elementor-element.elementor-element-e97b0fc {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 24px;
}
.elementor-1669
  .elementor-element.elementor-element-e97b0fc
  > .elementor-widget-container {
  margin: 0px 0px 45px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-55df65d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669 .elementor-element.elementor-element-3142923 {
  padding: 70px 0px 70px 0px;
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-1669
  .elementor-element.elementor-element-0444989.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-1669
  .elementor-element.elementor-element-0444989.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1669
  .elementor-element.elementor-element-0444989
  > .elementor-element-populated,
.elementor-1669
  .elementor-element.elementor-element-0444989
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1669
  .elementor-element.elementor-element-0444989
  > .elementor-background-slideshow {
  border-radius: 3px 3px 3px 3px;
}
.elementor-1669
  .elementor-element.elementor-element-0444989
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-0444989
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-bc-flex-widget
  .elementor-1669
  .elementor-element.elementor-element-b1a50f3.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-b1a50f3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-b1a50f3
  > .elementor-element-populated,
.elementor-1669
  .elementor-element.elementor-element-b1a50f3
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1669
  .elementor-element.elementor-element-b1a50f3
  > .elementor-background-slideshow {
  border-radius: 3px 3px 3px 3px;
}
.elementor-1669
  .elementor-element.elementor-element-b1a50f3
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-b1a50f3
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 30px 0px 40px;
}
.elementor-1669
  .elementor-element.elementor-element-70d22bb
  .title-section-area {
  text-align: left;
}
.elementor-1669
  .elementor-element.elementor-element-70d22bb
  .section-title
  span {
  color: #5a5a5a;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-70d22bb .section-title {
  color: #3b1d82;
  font-size: 32px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-70d22bb
  .title-section-area
  .title-shape
  svg {
  fill: #3b1d82;
}
.elementor-1669
  .elementor-element.elementor-element-70d22bb
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-1669 .elementor-element.elementor-element-14ceb1a {
  color: #5a5a5a;
}
.elementor-1669
  .elementor-element.elementor-element-14ceb1a
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1669 .elementor-element.elementor-element-9c2eb7f .elementor-button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff007a;
  border-radius: 3px 3px 3px 3px;
  padding: 18px 45px 18px 45px;
}
.elementor-1669
  .elementor-element.elementor-element-9c2eb7f
  .elementor-button:hover,
.elementor-1669
  .elementor-element.elementor-element-9c2eb7f
  .elementor-button:focus {
  background-color: #d20055;
}
.elementor-1669
  .elementor-element.elementor-element-67356308:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-67356308
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2018/12/funfact_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669 .elementor-element.elementor-element-67356308 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 90px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-67356308
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-227d8cab
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669
  .elementor-element.elementor-element-62e8026f
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5em;
}
.elementor-1669
  .elementor-element.elementor-element-62e8026f
  .elementor-counter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.elementor-1669
  .elementor-element.elementor-element-62e8026f
  > .elementor-widget-container {
  padding: 0px 100px 20px 0px;
  background-image: url("../../2018/12/funfact_wave.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.elementor-1669
  .elementor-element.elementor-element-370d681f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669
  .elementor-element.elementor-element-704588c3
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5em;
}
.elementor-1669
  .elementor-element.elementor-element-704588c3
  .elementor-counter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.elementor-1669
  .elementor-element.elementor-element-704588c3
  > .elementor-widget-container {
  padding: 0px 100px 20px 0px;
  background-image: url("../../2018/12/funfact_wave.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.elementor-1669
  .elementor-element.elementor-element-b052403
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669
  .elementor-element.elementor-element-5cd78e4b
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5em;
}
.elementor-1669
  .elementor-element.elementor-element-5cd78e4b
  .elementor-counter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.elementor-1669
  .elementor-element.elementor-element-5cd78e4b
  > .elementor-widget-container {
  padding: 0px 100px 20px 0px;
  background-image: url("../../2018/12/funfact_wave.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.elementor-1669
  .elementor-element.elementor-element-223c870f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669
  .elementor-element.elementor-element-668c17a8
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5em;
}
.elementor-1669
  .elementor-element.elementor-element-668c17a8
  .elementor-counter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.elementor-1669
  .elementor-element.elementor-element-668c17a8
  > .elementor-widget-container {
  padding: 0px 110px 20px 0px;
  background-image: url("../../2018/12/funfact_wave.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.elementor-1669
  .elementor-element.elementor-element-18442c66:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-18442c66
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2018/12/speaker_bg.png");
}
.elementor-1669
  .elementor-element.elementor-element-18442c66
  > .elementor-background-overlay {
  background-image: url("../../2018/12/home_speaker_memphis2.png");
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669 .elementor-element.elementor-element-18442c66 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 85px 0px 30px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-3bd75683
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-3bd75683
  .section-title
  span {
  color: #5a5a5a;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-3bd75683 .section-title {
  color: #3b1d82;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-3bd75683
  .title-section-area
  .title-shape
  svg {
  fill: #3b1d82;
}
.elementor-1669
  .elementor-element.elementor-element-3bd75683
  > .elementor-widget-container {
  padding: 0px 0px 60px 0px;
}
.elementor-1669 .elementor-element.elementor-element-895d3c3 {
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-3666cbdc
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-4b0c4052
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-406c73f1
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-ee5fa95
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669 .elementor-element.elementor-element-23940a2 {
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-03ef36f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-a1957bb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-0fb7c1b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-4a2092a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 10px;
}
.elementor-1669
  .elementor-element.elementor-element-3bcc9af5
  > .elementor-container {
  min-height: 480px;
}
.elementor-1669
  .elementor-element.elementor-element-3bcc9af5:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-3bcc9af5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(100deg, #13007f 61%, #af0387 100%);
}
.elementor-1669 .elementor-element.elementor-element-3bcc9af5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-3bcc9af5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-5909dc61:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1669
  .elementor-element.elementor-element-5909dc61
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../home-6/images/host.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-1669
  .elementor-element.elementor-element-5909dc61:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap:before,
.elementor-1669
  .elementor-element.elementor-element-5909dc61
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}
.elementor-1669
  .elementor-element.elementor-element-5909dc61
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-5909dc61
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-5909dc61
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(129, 48, 229, 0);
  background-image: url("../../2018/12/cta_bg.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 0;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-a6d50c6
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 95px 250px 65px 80px;
}
.elementor-1669 .elementor-element.elementor-element-56326f6c {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669
  .elementor-element.elementor-element-56326f6c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-5a386dbb
  .elementor-heading-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-1669
  .elementor-element.elementor-element-5a386dbb
  > .elementor-widget-container {
  margin: -13px 0px 35px 0px;
}
.elementor-1669 .elementor-element.elementor-element-39d5a25b {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
}
.elementor-1669 .elementor-element.elementor-element-28019c62 {
  padding: 100px 0px 100px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-11a93fc4
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-023cbe8
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-023cbe8
  .section-title
  span {
  color: #5a5a5a;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-023cbe8 .section-title {
  color: #3b1d82;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-023cbe8
  .title-section-area
  .title-shape
  svg {
  fill: #3b1d82;
}
.elementor-1669
  .elementor-element.elementor-element-023cbe8
  > .elementor-widget-container {
  margin: 0px 0px 70px 0px;
}
.elementor-1669 .elementor-element.elementor-element-3104a5a7 .section-title {
  text-align: left;
}
.elementor-1669
  .elementor-element.elementor-element-3104a5a7
  > .elementor-widget-container {
  padding: 0px 0px 40px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-7a39cfb6
  .elementor-button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff007a;
  border-radius: 3px 3px 3px 3px;
  padding: 21px 55px 21px 55px;
}
.elementor-1669
  .elementor-element.elementor-element-7a39cfb6
  .elementor-button:hover,
.elementor-1669
  .elementor-element.elementor-element-7a39cfb6
  .elementor-button:focus {
  background-color: #d20055;
}
.elementor-1669
  .elementor-element.elementor-element-27fbbb81:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-27fbbb81
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://demo.themewinter.com/wp/exhibz/wp-content/uploads/2022/01/pricing_img.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669
  .elementor-element.elementor-element-27fbbb81
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(145deg, #321575 0%, #ff057c 100%);
  opacity: 0.85;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669 .elementor-element.elementor-element-27fbbb81 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 90px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-c1ea23a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-40d7b9d7
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-40d7b9d7
  .section-title
  span {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-40d7b9d7 .section-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-40d7b9d7
  .title-section-area
  .title-shape
  svg {
  fill: #ffffff;
}
.elementor-1669
  .elementor-element.elementor-element-40d7b9d7
  > .elementor-widget-container {
  margin: 0px 0px 60px 0px;
}
.elementor-1669 .elementor-element.elementor-element-6696ed5d {
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-4ec431a7:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-4ec431a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f9fafc;
  background-image: url("../../2018/12/news_memphis2.png");
  background-position: center right;
  background-repeat: no-repeat;
}
.elementor-1669
  .elementor-element.elementor-element-4ec431a7
  > .elementor-background-overlay {
  background-image: url("../../2018/12/news_memphis1.png");
  background-position: center left;
  background-repeat: no-repeat;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669 .elementor-element.elementor-element-4ec431a7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 40px 0px;
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-1669
  .elementor-element.elementor-element-cfae17b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-cfae17b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-cfae17b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-776855f8
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-776855f8
  .section-title
  span {
  color: #5a5a5a;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-776855f8 .section-title {
  color: #3b1d82;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-776855f8
  .title-section-area
  .title-shape
  svg {
  fill: #3b1d82;
}
.elementor-1669
  .elementor-element.elementor-element-776855f8
  > .elementor-widget-container {
  margin: 0px 0px 70px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-3445871e
  .post
  .entry-title
  a:hover {
  color: #e7015e;
}
.elementor-1669
  .elementor-element.elementor-element-2e2c7d93:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-2e2c7d93
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://demo.themewinter.com/wp/exhibz/wp-content/uploads/2022/01/sponsor_img.webp");
}
.elementor-1669 .elementor-element.elementor-element-2e2c7d93 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-2e2c7d93
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-487e26f1
  > .elementor-element-populated,
.elementor-1669
  .elementor-element.elementor-element-487e26f1
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1669
  .elementor-element.elementor-element-487e26f1
  > .elementor-background-slideshow {
  border-radius: 3px 3px 3px 3px;
}
.elementor-1669
  .elementor-element.elementor-element-6943a7bf
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-6943a7bf
  .section-title
  span {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-6943a7bf .section-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-6943a7bf
  .title-section-area
  .title-shape
  svg {
  fill: #ffffff;
}
.elementor-1669
  .elementor-element.elementor-element-6943a7bf
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-61f1833c
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1669 .elementor-element.elementor-element-61f1833c {
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-2b68cb7d
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1669 .elementor-element.elementor-element-2b68cb7d {
  padding: 25px 0px 0px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-1a142383
  .elementor-button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff007a;
  border-radius: 3px 3px 3px 3px;
  padding: 16px 35px 16px 35px;
}
.elementor-1669
  .elementor-element.elementor-element-1a142383
  .elementor-button:hover,
.elementor-1669
  .elementor-element.elementor-element-1a142383
  .elementor-button:focus {
  background-color: #d20055;
}
.elementor-1669
  .elementor-element.elementor-element-1a142383
  > .elementor-widget-container {
  margin: 50px 0px 0px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-43a8082b
  > .elementor-background-overlay {
  background-image: url("../../2018/12/Direction_memphis1.png");
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669 .elementor-element.elementor-element-43a8082b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-c319185
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669
  .elementor-element.elementor-element-7fb57e42
  .title-section-area {
  text-align: left;
}
.elementor-1669
  .elementor-element.elementor-element-7fb57e42
  .section-title
  span {
  color: #888888;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-7fb57e42 .section-title {
  color: #3b1d82;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-7fb57e42
  .title-section-area
  .title-shape
  svg {
  fill: #3b1d82;
}
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title:before,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title:after,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-content,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tabs-content-wrapper {
  border-width: 0px;
}
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title
  a {
  color: #888888;
}
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title.elementor-active,
.elementor-1669
  .elementor-element.elementor-element-9aba7e7
  .elementor-tab-title.elementor-active
  a {
  color: #e7015e;
}
.elementor-bc-flex-widget
  .elementor-1669
  .elementor-element.elementor-element-2d70f979.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-2d70f979.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1669
  .elementor-element.elementor-element-2d70f979
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1669 .elementor-element.elementor-element-926fdac iframe {
  height: 500px;
}
.elementor-1669
  .elementor-element.elementor-element-6c311a6:not(.elementor-motion-effects-element-type-background),
.elementor-1669
  .elementor-element.elementor-element-6c311a6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(12, 0, 3, 0.65);
  background-image: url("https://demo.themewinter.com/wp/exhibz/wp-content/uploads/2022/01/book_seat_img.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669
  .elementor-element.elementor-element-6c311a6
  > .elementor-background-overlay {
  background-color: rgba(12, 12, 12, 0.73);
  opacity: 1;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-6c311a6
  .elementor-background-overlay {
  filter: brightness(0%) contrast(0%) saturate(0%) blur(0.65px) hue-rotate(0deg);
}
.elementor-1669 .elementor-element.elementor-element-6c311a6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 200px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-ea22124
  .title-section-area {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-ea22124
  .section-title
  span {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.elementor-1669 .elementor-element.elementor-element-ea22124 .section-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
}
.elementor-1669
  .elementor-element.elementor-element-ea22124
  .title-section-area
  .title-shape
  svg {
  fill: #ffffff;
}
.elementor-1669
  .elementor-element.elementor-element-6d38b218
  .elementor-button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff007a;
  border-radius: 3px 3px 3px 3px;
  padding: 21px 55px 21px 55px;
}
.elementor-1669
  .elementor-element.elementor-element-6d38b218
  .elementor-button:hover,
.elementor-1669
  .elementor-element.elementor-element-6d38b218
  .elementor-button:focus {
  background-color: #d20055;
}
.elementor-1669
  .elementor-element.elementor-element-6d38b218
  > .elementor-widget-container {
  margin: 30px 0px 0px 0px;
}
.elementor-1669 .elementor-element.elementor-element-198a7cea {
  margin-top: -110px;
  margin-bottom: -232px;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.elementor-1669
  .elementor-element.elementor-element-579a4361:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1669
  .elementor-element.elementor-element-579a4361
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2019/01/newsletter_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1669
  .elementor-element.elementor-element-579a4361
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 1;
}
.elementor-1669
  .elementor-element.elementor-element-579a4361
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-579a4361
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1669
  .elementor-element.elementor-element-579a4361
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 60px 250px 60px 250px;
}
.elementor-1669 .elementor-element.elementor-element-4c425be5 {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-4c425be5
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-1669 .elementor-element.elementor-element-1ac07c1b {
  text-align: center;
}
.elementor-1669
  .elementor-element.elementor-element-1ac07c1b
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-1669
  .elementor-element.elementor-element-1ac07c1b
  > .elementor-widget-container {
  margin: 0px 0px 55px 0px;
}
.elementor-1669
  .elementor-element.elementor-element-2ec028b2
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-1669 .elementor-element.elementor-element-9f4b08f {
    padding: 130px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3ddf704
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 100px 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5a7affc
    > .elementor-widget-container {
    margin: 0px 0px 60px -25px;
  }
  .elementor-1669
    .elementor-element.elementor-element-561e166
    .elementor-heading-title {
    font-size: 48px;
  }
  .elementor-1669 .elementor-element.elementor-element-e97b0fc {
    font-size: 18px;
  }
  .elementor-1669 .elementor-element.elementor-element-3142923 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-0444989
    > .elementor-element-populated {
    margin: 0px 0px 61px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-0444989
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 40px 0px 40px;
  }
  .elementor-1669
    .elementor-element.elementor-element-b1a50f3
    > .elementor-element-populated {
    margin: 0px 0px 61px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-b1a50f3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 40px 0px 40px;
  }
  .elementor-1669
    .elementor-element.elementor-element-70d22bb
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-67356308 {
    padding: 50px 0px 50px 100px;
  }
  .elementor-1669
    .elementor-element.elementor-element-227d8cab
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-370d681f
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-18442c66 {
    padding: 80px 0px 20px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3bd75683
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5909dc61
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 150px 0px 150px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-28019c62 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-27fbbb81 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-4bdad9fb
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-4bdad9fb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-d409782
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-d409782
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-4ec431a7 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-cfae17b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1669 .elementor-element.elementor-element-2e2c7d93 {
    padding: 30px 0px 30px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-43a8082b {
    padding: 50px 0px 50px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-1ac07c1b
    .elementor-heading-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-1669 .elementor-element.elementor-element-9f4b08f {
    padding: 120px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-86387b3
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3ddf704
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 0px 20px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5a7affc
    .counter-item
    .countdown-number {
    font-size: 40px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5a7affc
    > .elementor-widget-container {
    margin: 0px 0px 125px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-561e166
    .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
  }
  .elementor-1669
    .elementor-element.elementor-element-561e166
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-e97b0fc {
    font-size: 20px;
    line-height: 31px;
  }
  .elementor-1669
    .elementor-element.elementor-element-55df65d
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-3142923 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-0444989
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-b1a50f3
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-b1a50f3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1669
    .elementor-element.elementor-element-70d22bb
    .title-section-area {
    text-align: center;
  }
  .elementor-1669 .elementor-element.elementor-element-70d22bb .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-70d22bb
    > .elementor-widget-container {
    margin: 0px 0px -40px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-14ceb1a {
    text-align: left;
  }
  .elementor-1669
    .elementor-element.elementor-element-14ceb1a
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-67356308 {
    padding: 50px 0px 50px 020px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5cd78e4b
    > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-18442c66 {
    padding: 50px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-73e09464
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-3bd75683 .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3bd75683
    > .elementor-widget-container {
    margin: 0px 0px -40px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-ee5fa95
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-4a2092a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-3bcc9af5 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5909dc61
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 200px 0px 200px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-a6d50c6
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 50px 15px 50px 30px;
  }
  .elementor-1669 .elementor-element.elementor-element-28019c62 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-023cbe8 .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-023cbe8
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3104a5a7
    > .elementor-widget-container {
    padding: 0px 0px 20px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-27fbbb81 {
    padding: 80px 0px 50px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-40d7b9d7 .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-4bdad9fb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 30px 15px;
  }
  .elementor-1669
    .elementor-element.elementor-element-d409782
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 30px 15px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3441edd5
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1669 .elementor-element.elementor-element-4ec431a7 {
    padding: 50px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-cfae17b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-1669 .elementor-element.elementor-element-776855f8 .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-776855f8
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-2e2c7d93 {
    padding: 20px 0px 20px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-6943a7bf .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-6943a7bf
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-44d698ce
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-3fc86a64
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-116c13e5
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-5c698b59
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-4d624e38
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-2b68cb7d {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-63451971
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-68850918
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-27e776
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1669 .elementor-element.elementor-element-7fb57e42 .section-title {
    font-size: 30px;
  }
  .elementor-1669
    .elementor-element.elementor-element-2d70f979
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 50px 0px 0px 0px;
  }
  .elementor-1669
    .elementor-element.elementor-element-579a4361
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 50px 20px 30px 20px;
  }
  .elementor-1669
    .elementor-element.elementor-element-1ac07c1b
    .elementor-heading-title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .elementor-1669 .elementor-element.elementor-element-86387b3 {
    width: 9.261%;
  }
  .elementor-1669 .elementor-element.elementor-element-3ddf704 {
    width: 83.068%;
  }
  .elementor-1669 .elementor-element.elementor-element-55df65d {
    width: 7.67%;
  }
  .elementor-1669 .elementor-element.elementor-element-0444989 {
    width: 49.953%;
  }
  /* .elementor-1669 .elementor-element.elementor-element-b1a50f3 {
    width: 50.047%;
  } */
  .elementor-1669 .elementor-element.elementor-element-c319185 {
    width: 41.666666%;
  }
  .elementor-1669 .elementor-element.elementor-element-2d70f979 {
    width: 58.333%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1669 .elementor-element.elementor-element-0444989 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-b1a50f3 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-227d8cab {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-370d681f {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-b052403 {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-223c870f {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-3666cbdc {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-4b0c4052 {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-406c73f1 {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-ee5fa95 {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-03ef36f {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-a1957bb {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-0fb7c1b {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-4a2092a {
    width: 50%;
  }
  .elementor-1669 .elementor-element.elementor-element-5909dc61 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-a6d50c6 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-4bdad9fb {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-d409782 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-3441edd5 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-c319185 {
    width: 100%;
  }
  .elementor-1669 .elementor-element.elementor-element-2d70f979 {
    width: 100%;
  }
}
